<div class="container">
    <div class="form-box">
        <h2>URL Shortener</h2>
        <label>URL :</label>
        <input type="text" placeholder="Enter URL here" />
        <label>Generated URL: </label>
        <div id="url"><a href="{{savedUrl.shortLink}}">{{savedUrl.shortLink}}</a></div>
        <input type="submit" value="Shorten URL" />
        <h3 style="text-align:center;">Built by Ahmed Bankole</h3>
    </div>
</div>