<div class="container">
    <div class="form-box">
        <form action="/" method="post">
            <h2>URL Shortener</h2>
            <label>Generated URL: </label>
            <div id="url"><a href="{{savedUrl.shortLink}}">{{savedUr.shortLink}}</a></div>
            <h3 style="text-align:center;">Built by Ahmed Bankole</h3>
        </form>
    </div>
</div>